openapi: 3.0.3

info:
  title: NVA Publication Channel API
  description: >
      The NVA publication channel API. It provides transformed data from third party publication channel API.
  termsOfService: https://nva.unit.no/terms/
  contact:
    email: nva@unit.no
  license:
    name: MIT/NLOD 2.0
    url: https://link.to.license
  version: 1.0.0

externalDocs:
  description: Find out more about NVA
  url: https://nva.unit.no

servers:
  - url: https://api.nva.unit.no/channels
  - url: https://api.dev.nva.aws.unit.no/channels
  - url: https://api.sandbox.nva.aws.unit.no/channels
  - url: https://api.test.nva.aws.unit.no/channels

paths:
  /journal/{identifier}/{year}:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FetchJournalByIdentifierAndYear.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Journal
      summary: Fetch journal by identifier and year
      description: Returns a single Journal
      operationId: FetchJournalByIdentifierAndYear
      parameters:
        - name: identifier
          in: path
          description: identifier of journal to return
          required: true
          schema:
            type: string
            pattern: '^[a-f0-9]{8}-?[a-f0-9]{4}-?4[a-f0-9]{3}-?[89ab][a-f0-9]{3}-?[a-f0-9]{12}\Z'
          example: '151f411d-68cd-4c7a-9cbb-daf00e0326ce'
        - name: year
          in: path
          description: year for journal data
          required: true
          schema:
            type: integer
            minimum: 1900
            maximum: 2999
          example: '1910'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
              examples:
                objectExample:
                  $ref: '#/components/examples/JournalExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Journal'
              examples:
                objectExample:
                  $ref: '#/components/examples/JournalExample'
        502:
          $ref: '#/components/responses/502'

components:
  responses:
    400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    500:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    502:
      description: Bad Gateway
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

  schemas:
    Journal:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          type: string
          pattern: '^https:\/\/example.org/journal/[a-f0-9]{8}-?[a-f0-9]{4}-?4[a-f0-9]{3}-?[89ab][a-f0-9]{3}-?[a-f0-9]{12}/[0-9]{4}$'
          description: The URI of the object
        type:
          type: string
          pattern: 'Journal'
          description: The type of the returned object, always Journal
        name:
          $ref: '#/components/schemas/Name'
        identifier:
          $ref: '#/components/schemas/Identifier'
        year:
          $ref: '#/components/schemas/Year'
        eIssn:
          type: string
          pattern: '^[0-9]{4}-[0-9]{4}$'
          description: The ISSN of the online edition of the Journal
        issn:
          type: string
          pattern: '^[0-9]{4}-[0-9]{4}$'
          nullable: true
          description: The ISSN of the print edition of the Journal
        level:
          $ref: '#/components/schemas/Level'
        landingPage:
          $ref: '#/components/schemas/LandingPage'
    Context:
      type: string
      pattern: 'https:\/\/.*$'
      description: The JSON-LD context object for the data, which describes the object in the data and allows machine processing of the data at a semantic level
    Name:
      type: string
      description: The name of the publication channel
    Identifier:
      type: string
      pattern: '^[a-f0-9]{8}-?[a-f0-9]{4}-?4[a-f0-9]{3}-?[89ab][a-f0-9]{3}-?[a-f0-9]{12}\Z'
      description: The NSD DBH persistent identifier of the publication channel
    Year:
      type: integer
      minimum: 1900
      maximum: 2999
      description: The year of the publication channel to get
    LandingPage:
      type: string
      pattern: '^http(s)?:\/\/.*$'
      nullable: true
      description: The URI for the homepage of the publication channel
    Level:
      type: string
      enum: [ '0', '1', '2' ]
      nullable: true
      description: The NPI level of the journal, either null, 0, 1 or 2
    Problem:
      type: object
      properties:
        type:
          type: string
          description: A URI describing the error and mitigations, in generic cases, this is about:blank
        status:
          type: integer
          format: int32
          description: The HTTP status code associated with the problem
        title:
          type: string
          description: Human-readable description of the error status
        detail:
          type: string
          description: A more detailed error message describing the error and potential mitigations
        instance:
          type: string
          description: The requested path associated with the error

  examples:
    JournalExample:
      value:
        '@context': 'https://example.org/context.json'
        id: 'https://example.org/journal/151f411d-68cd-4c7a-9cbb-daf00e0326ce/2010'
        type: 'Journal'
        name: 'The journal of eternal fury'
        identifier: '151f411d-68cd-4c7a-9cbb-daf00e0326ce'
        year: '2010'
        onlineIssn: '1234-1234'
        printIssn: '4321-4321'
        level: '1'
        landingPage: 'https://kanalregister.hkdir.no/publiseringskanaler/KanalTidsskriftInfo?pid=151f411d-68cd-4c7a-9cbb-daf00e0326ce'
      summary: A sample journal
